<%= form_for(@ad) do |f| %>
    <% if @ad.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

            <ul>
                <% @ad.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :body %><br/>
        <%= f.text_field :body %>
    </div>
    <div class="field">
        <%= f.label :price %><br/>
        <%= f.text_field :price %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>

    <% @tags.each do |tag| %>
        <div>
            <%= check_box_tag "ad[tag_ids][]", tag.id, @ad.tags.include?(tag) %>
            <%= tag.name %>
        </div>
    <% end %>

<% end %>
