<%= form_for(@ad) do |f| %>
    <% if @ad.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

            <ul>
                <% @ad.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :body %><br/>
        <%= f.text_field :body %>
    </div>
    <div class="field">
        <%= f.label :price %><br/>
        <%= f.text_field :price %>
    </div>

    <div class="field">
        <%= f.label :tag_names %><br/>
        <%= f.text_field :tag_names %>
    </div>

    <%= fields_for :user, @ad.user do |ad_user| %>
        <%= ad_user.label :name %><br/>
        <%= ad_user.text_field :name %><br/>

        <%= ad_user.label :email %><br/>
        <%= ad_user.email_field :email %><br/>
    <% end %>

    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>
