<%= form_for(@ad) do |f| %>
    <% if @ad.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

            <ul>
                <% @ad.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
    </div>

    <div class="field">
        <%= f.label :body %><br/>
        <%= f.text_area :body %>
    </div>

    <div class="field">
        <%= f.label :price %><br/>
        <%= f.text_field :price %>
    </div>

    <div class="field">
        <%= f.label :tag_names %><br/>
        <%= f.text_field :tag_names %>
    </div>

    <div class="field">
        <%= f.label :email_address %><br/>
        <%= f.text_field :email_address %>
    </div>

    <div class="field">
        <%= f.label :location_name %><br/>
        <%= f.text_field :location_name %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>
