<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ad.title %>
</p>

<p>
  <b>Body:</b>
  <%= @ad.body %>
</p>

<p>
  <b>Price:</b>
  <%= @ad.price %>
</p>


<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
