<p id="notice"><%= notice %></p>

<p>
  <b>Location name:</b>
  <%= @location.location_name %>
</p>

<p>
  <b>Location type:</b>
  <%= @location.location_type %>
</p>

<p>
  <b>Location parent:</b>
  <%= @location.parent.location_name %>
</p>

<p>
  <b>Postcode:</b>
  <%= @location.postcode %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>

<%= link_to 'Back', locations_path %>
