<header>
  <%=link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "New", new_path %></li>
      <% if signed_in? %>
         <li><%= link_to "Logout", logout_path, :method => :delete %></li>
         <% if currently_signedin_user.admin? %>
            <li><%= link_to "Locations", locations_path %></li>
         <% end %>
      <% else %>
         <li><%= link_to "Login", login_path %></li>
         <li><%= link_to "Blog", blog_path %></li>
         <li><%= link_to "Team", team_path %></li>
         <li><%= link_to "Contact", contact_path %></li>
      <% end %>
    </ul>
  </nav>
</header>

